src/bin/fsd/fsd.1.manlint
src/bin/fsd/fsd
src/bin/fs_cli/fs_cli
fsd.core
*~
*.o
*.so*
*.po
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps
.\#*
\#*
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
*.sbr
*.ilk
*.bsc
*.pch
*.opensdf
*.tar
*.gz
*.tgz
*.xz
*.bz2
*.tbz2
*.deb
*.swp
*.serial
aclocal.m4
autom4te.cache
config.cache
configure.lineno
config.log
config.status
test-driver
core.*
TAGS
*.2010.log
*.Build.CppClean.log
*.tlog
*.unsuccessfulbuild
*.cache
*.lastbuildstate
*.sdf

/w32/Library/lastversion
/w32/Library/tmpVersion.Bat
!/w32/Console/FreeSwitchConsole.vcproj.user
!/w32/Setup/inno_setup/vcredist_x64.exe
!/w32/Setup/inno_setup/vcredist_x86.exe

/.version
/.stamp-*
/a.out.dSYM
/AUTHORS
/ChangeLog
/configure
/COPYING
/freeswitch
/fs_cli
/fs_encode
/fs_ivrd
/libtool
/Makefile.in
/modules.conf
/NEWS
/noreg
/Path
/quiet_libtool
/README
/TAGS
/tone2wav

/All/
Debug/
/bin/
Release/
/ipch/
/*.log

/build/config/compile
/build/config/config.guess
/build/config/config.sub
/build/config/depcomp
/build/config/install-sh
/build/config/ltmain.sh
/build/config/missing
/build/freeswitch.pc
/build/getlib.sh
/build/getg729.sh
/build/getsounds.sh
/build/Makefile
/build/Makefile.in
/build/modmake.rules
/build/print_git_revision

/libs/curl/lib/ca-bundle.h
/libs/esl/fs_cli
/libs/esl/ivrd
/libs/esl/testclient
/libs/esl/testserver
/libs/freetdm/detect_dtmf
/libs/freetdm/detect_tones
/libs/freetdm/testanalog
/libs/freetdm/testapp
/libs/freetdm/testcid
/libs/freetdm/testpri
/libs/freetdm/testr2
/libs/freetdm/testsangomaboost
/libs/freetdm/testtones
/libs/fsg729-*-installer
/libs/g729/
/libs/libcodec2/compile
/libs/libcodec2/config.guess
/libs/libcodec2/config.sub
/libs/libcodec2/configure
/libs/libcodec2/depcomp
/libs/libcodec2/install-sh
/libs/libcodec2/libtool
/libs/libcodec2/ltmain.sh
/libs/libcodec2/Makefile
/libs/libcodec2/Makefile.in
/libs/libcodec2/missing
/libs/libcodec2/src/Makefile
/libs/libcodec2/src/Makefile.in
/libs/libcodec2/unittest/Makefile
/libs/libcodec2/unittest/Makefile.in
/libs/mpg123-1.13.2/
/libs/spandsp/src/cielab_luts.h
/scripts/fsxs
/scripts/gentls_cert

BuildLog.htm

!/libs/win32/
!/libs/speex/win32/
!/src/mod/endpoints/mod_gsmopen/gsmlib/gsmlib-1.10-patched-13ubuntu/win32/
*.suo
*.sdf
x64/
ipch/


/libs/xmlrpc-c/tools/xml-rpc-api2txt

/w32/Setup/obj
*dSYM*
/libs/xmlrpc-c/lib/expat/xmltok/nametab.h

/UpgradeLog.*
/_UpgradeReport_Files/
*.aps
/w32/Library/switch_version.inc
/w32/Setup/Fragments
